<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#157878">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hi，嗨，嗨</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_wo1kcjy4bp2satt9.css">
</head>
<body>
  <audio src="audio/new-msg.mp3" controls="controls" id="audio"></audio>
  <div class="content">
    <div class="box">
      <div class="msg-pool" id="msg-pool">



        <%# <div class="row you">
          <div class="chatter">
            <div class="logo">
              <img src="" alt="">
            </div>
          </div>
          <div class="msg-content">
            <ul>
              <li>
                <div class="msg">
                  <h1 class="light-red">hxtao</h1>
                  <p>hello world 哈哈哈</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row system">
          <p>🙋 192.168.1.105 加入群聊 - 12:31:02</p>
        </div>
        <div class="row system">
          <p class="leave">☕ 192.168.1.105 离开群聊 - 12:31:02</p>
        </div> %>



      </div>
      <div class="msg-notice hide-notice" id="msg-notice">
        <i class="iconfont icon-chat"></i>
      </div>
      <div class="msg-input" id="msg-input">
        <div class="text">
          <div class="rich-input" id="text" contenteditable="true" placeholder="Write a message..."></div>
        </div>
        <div class="expression">
          <i class="iconfont icon-expression"></i>
          <div class="list-expressions">
            <ul>
              <% expressions.forEach(function(expression) { %>
              <li><img src="expressions/<%= expression %>" alt="<%- expression.replace('.png', '') %>"></li>
              <% }); %>            
            </ul>
          </div>
        </div>
        <div class="send">
          <span id="btn-send">Send</span>
        </div>
      </div>
    </div>
  </div>
  <script src="js/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>