html,body{
  margin: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font: 16px/1.2 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

audio{
  display: none;
}

.yellow{
  color: #e28e12;
}

.green{
  color: #4e8c07;
}

.light-green{
  color: #009688;
}

.blue{
  color: #038cca;
}

.red{
  color: #c51205;
}

.light-red{
  color: #da7195;
}

.grey{
  color: grey;
}

.brown{
  color: #795548;
}

.purple{
  color: #9c27b0;
}

.light-purple{
  color: #c707bb;
}

.content{
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.box{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all .6s ease;
}



/**
 * 
 * 消息池 Start 
 *
 *
 */
.box .msg-pool{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3.2rem;
  left: 0;
  background-image: linear-gradient(120deg, #155799, #159957);
  overflow-y: auto;
}

/* 消息池 - 消息行 */
.msg-pool .row{
  padding: .6rem;
}

.msg-pool .row:after{
  display: block;
  content: "";
  clear: both;
}

/* 消息池 - 消息行/系统 */
.system p{
  margin: 0;
  color: #76d0db;
  font-size: 12px;
  text-align: center;
}

.system .leave{
  color: #bbb;
}

/* 消息池 - 消息行 - 聊天者 */
.chatter{
  float: left;
  width: 2.4rem;
  height: 2.4rem;
}

.chatter .logo{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.chatter .logo img{
  width: 100%;
  height: 100%;
}

/* 消息池 - 消息行/你 - 聊天者 */
.you .chatter{
  float: right;
}

/* 消息池 - 消息行 - 消息体 */
.msg-content{
  margin: 0 0 .6rem 2.8rem;
}

/* 消息池 - 消息行 - 消息体 - 消息列表 */
.msg-content ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 消息池 - 消息行 - 消息体 - 消息 */
.msg-content .msg{
  display: inline-block;
  margin-bottom: .6rem;
  padding: .6rem .8rem;
  max-width: 90%;
  text-align: left;
  border-radius: .2rem;
  background: rgba(242, 242, 242, 0.74);
}

.msg-content .msg h1{
  margin: 0;
  margin-bottom: .6rem;
  font-weight: normal;
  font-size: 1rem;
  user-select: none;
  cursor: default;
}

.msg-content .msg p{
  margin: 0;
  word-wrap: break-word;
}

.msg-content .msg img{
  margin: 0 .2rem;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: -22%;
}

/* 消息池 - 消息行/你 - 消息体 */
.you .msg-content{
  margin: 0 2.8rem .6rem 0;
  text-align: right;
}
/**
 *
 *
 *
 * 消息池 END
 */



/**
 * 
 * 新消息提示 Start
 *
 *
 */
.box .msg-notice{
  position: absolute;
  padding: .6rem;
  bottom: 3.2rem;
  left: 0;
  transition: all .6s ease;
}

.msg-notice i{
  display: inline-block;
  font-size: 1.8rem;
  color: blanchedalmond;
  line-height: 2rem;
  cursor: pointer;
}

.box .hide-notice{
  opacity: 0;
  transform: scale(0.6) translateY(4rem);
}

.box .show-notice{
  animation: notice 2s ease infinite;
}

@keyframes notice{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(.6);
  }
}
/**
 * 
 *
 *
 * 新消息提示 END
 */



/**
 * 
 * 消息发送栏 Start
 *
 *
 */
.box .msg-input{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.2rem;
  color: #777;
  line-height: 3.2rem;
  box-sizing: border-box;
  user-select: none;
  z-index: 9;
}

.box .msg-input img{
  margin: 0 .2rem;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: -22%;
  cursor: pointer;
}

/* 消息发送栏 - 文本 */
.msg-input .text{
  position: absolute;
  top: 0;
  right: 6.8rem;
  bottom: 0;
  left: .6rem;
  overflow: hidden;
}

/* 消息发送栏 - 文本 */
.text .rich-input{
  padding: 1em 0 1rem;
  min-height: 3.2rem;
  max-height: 6rem;
  line-height: 1.4rem;
  word-wrap: break-word;
  overflow-y: auto;
  box-sizing: border-box;
}

.text .rich-input:focus{
  outline: none;
}

.text .rich-input:focus:after{
  background: dodgerblue;
  transform: scale(1);
}

/* 消息发送栏 - 表情 */
.msg-input .expression{
  position: absolute;
  top: 0;
  right: 4rem;
  bottom: 0;
  width: 2.8rem;
  height: 3.2rem;
  text-align: center;
  line-height: 3.4rem;
}

.expression i{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  cursor: pointer;
}

.expression i:hover{
  color: #18bc9c;
  background: transparent;
}

/* 消息发送栏 - 表情 - 列表*/
.expression .list-expressions{
  display: none;
  position: absolute;
  right: -3.2rem;
  bottom: 3.2rem;
  padding-bottom: .6rem;
  width: 15rem;
  background: transparent;
}

.expression:hover .list-expressions{
  display: block;
}

.list-expressions ul{
  margin: 0;
  padding: 1rem;
  max-height: 28rem;
  list-style: none;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;
}

.list-expressions ul:after{
  display: block;
  content: "";
  clear: both;
}

.list-expressions ul li{
  float: left;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
}

.list-expressions li:hover{
  border-radius: .2rem;
  background: #f2f2f2;
  transition: background .6s ease;
}

/* 消息发送栏 - 发送按钮 */
.msg-input .send{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 3.2rem;
  cursor: default;
}

.send span{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.send .active{
  color: #18bc9c;
  cursor: pointer;
}

.send .active:hover{
  background: #f2f2f2;
}
/**
 * 
 *
 *
 * 消息发送栏 END
 */



@media only screen and (min-width: 640px) {
  /* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
  ::-webkit-scrollbar{
    width: .2rem;
    height: .2rem;
    background-color: #f2f2f2;
  }

  ::-webkit-scrollbar-track:hover{
    background-color: #f2f2f2;
  }

  /* 定义滑块 内阴影 圆角 */
  ::-webkit-scrollbar-thumb{
    background-color: #ccc;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #afafb0;
  }
  
}

@media only screen and (min-width: 1280px) {
  .box{
    width: 320px;
    height: 568px;
    box-shadow: 0 .12rem .24rem #aaa;
  }
}

@media only screen and (min-width: 1369px) {
  .box{
    width: 375px;
    height: 667px;
    box-shadow: 0 .12rem .24rem #aaa;
  }
}